.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.material-icons.gray08 {
  color: #4267b2;
  margin-right: 5px;
}
.material-icons.button-up {
  position: fixed;
  bottom: 30px;
  right: 7px;
  font-size: 1.7em;

  background-color: inherit;
  color: rgba(70, 70, 70, 0.4);
  text-decoration: none;
}
.search-form {
  text-align: center;
}
.search-form input {
  width: 80%;
  font-size: 2rem;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.stats {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.stats-item {
  display: flex;
  align-items: center;
}
